<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard PRO by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


     <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="/assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
</head>

<body>
  <div>App loading...</div>
</body>

	<!--   Core JS Files. Extra: PerfectScrollbar + TouchPunch libraries inside jquery-ui.min.js   -->
	<script src="/assets/js/includes/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/assets/js/includes/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/assets/js/includes/bootstrap.min.js" type="text/javascript"></script>

	<!--  Forms Validations Plugin -->
	<script src="/assets/js/includes/jquery.validate.min.js"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="/assets/js/includes/moment.min.js"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
	<script src="/assets/js/includes/bootstrap-datetimepicker.js"></script>

	<!--  Select Picker Plugin -->
	<script src="/assets/js/includes/bootstrap-selectpicker.js"></script>

	<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
	<script src="/assets/js/includes/bootstrap-checkbox-radio-switch-tags.js"></script>

	<!-- Circle Percentage-chart -->
	<script src="/assets/js/includes/jquery.easypiechart.min.js"></script>

	<!--  Charts Plugin -->
	<script src="/assets/js/includes/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="/assets/js/includes/bootstrap-notify.js"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="/assets/js/includes/sweetalert2.js"></script>

	<!-- Vector Map plugin -->
	<script src="/assets/js/includes/jquery-jvectormap.js"></script>

	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- Wizard Plugin    -->
	<script src="/assets/js/includes/jquery.bootstrap.wizard.min.js"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="/assets/js/includes/bootstrap-table.js"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="/assets/js/includes/jquery.datatables.js"></script>

	<!--  Full Calendar Plugin    -->
	<script src="/assets/js/includes/fullcalendar.min.js"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
	<script src="/assets/js/includes/paper-dashboard.js"></script>

	<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
	<script src="/assets/js/includes/demo.js"></script>
  <script src="https://cdn.rawgit.com/lhorie/mithril.js/rewrite/mithril.js"></script>
  
	<script src="/assets/dist/js/app.js"></script>
</html>
